- provide(:title, "About") 
h1 About
p 
  | This is the application for making 
  a<> href='https://bitbucket.org/Michael_Trofimov/usernotes/' target='_blank' User notes 
  |, save, edit and remove them. For users there is a login and authentication system.