- if logged_in?
  div class="row"
    aside class="col-md-4"
      section class="user_info"
        = render 'shared/user_info'
      section class="note_form"
        = render 'shared/note_form'
    aside class="col-md-8"
      = render 'shared/notes_form'
- else
  div class="center"
    h1 Welcome to 
    = link_to image_tag("UserNotes.png", alt: "User Notes logo"),
            'https://bitbucket.org/Michael_Trofimov/usernotes/'

    h2 This is the home page for the application in which user can writing and stored itself notes.
    = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"