li id="note-#{note.id}"
  //= link_to gravatar_for(note.user, size: 50), note.user
  //span class="user"
    = link_to note.user.name, note.user 
  span class="title" 
    | Title: 
    = note.title
  span class="content"
    | Status:  
    = note.note_status_id? && NoteStatus.exists?(note.note_status_id) ? NoteStatus.find(note.note_status_id).status : 'Status not found'
  span class="content"
    = note.content
  span class="timestamp"
    Posted 
    = time_ago_in_words(note.created_at)
    |&nbsp;ago.
    - if current_user?(note.user)
      = link_to " delete", note, method: :delete,
                                       data: { confirm: "You sure?" }
      = link_to " edit", edit_note_path(note), method: :get