- if logged_in?
  div class="row"
    aside class="col-md-4"
      section class="user_info"
        = render 'shared/user_info'
      section class="note_form"
        = render 'shared/note_form'
    aside class="col-md-8"
      ol class="notes"
        li
          span class="title" 
            | Title: 
            =@note.title
          span class="content"
            | Status:  
            = @note.note_status_id? && NoteStatus.exists?(@note.note_status_id) ? NoteStatus.find(@note.note_status_id).status : 'Status not found'
          span class="content"
            = @note.content
          span class="timestamp"
            Posted 
            = time_ago_in_words(@note.created_at)
            |&nbsp;ago.