- provide(:title, "Edit user")
- provide(:button_text, 'Save changes')
h1 Update your profile

div class="row"
  div class="col-md-6 col-md-offset-3"
    = render 'form'
    div class="gravatar_edit"
      = gravatar_for @user
      a href="http://gravatar.com/emails" target="_blank" Change