- provide(:title, @user.name)
div class="row"
  aside class="col-md-4"
    section class="user_info"
      h1
        = gravatar_for @user
        = @user.name
  div class="col-md-8"
    = render 'shared/notes_form'