- if object.errors.any?
  div id="error_explanation"
    div class="alert alert-danger"
      | The form contains 
      = pluralize(object.errors.count, "error")
      |.
    ul
    - object.errors.full_messages.each.each do |msg|
      li = msg