= form_for(@note) do |f|
  = render 'shared/error_messages', object: f.object
  div class="field"
    div class="field"
      = f.label "Status for notes"
      br
      = f.collection_select :note_status_id, NoteStatus.all, :id, :status, {}, {:class => 'form-control'}
    = f.text_area :title, placeholder: "Compose new title..."
    = f.text_area :content, placeholder: "Compose new note..."
  = f.submit "Post", class: "btn btn-primary"