- if @note_items.any?
    h3 Notes (#{@note_items.count})
    = render 'shared/search_note_form'
    - if @note
        = form_for(@note) do |f|
            p id = "filter_by_status"
                = f.label "Filter by status", class: "control-label"
                = f.collection_select :note_status_id, NoteStatus.all, :id, :status, {}, {:class => 'form-control filter_select_field'}
    p
        = sortable "created_at", "Sort by create date"
        '  |
        = sortable "updated_at", "Sort by update date"
    ol class="notes"
        div id="notes"
            //= render :partial => @note_items
            = render @note_items
    = will_paginate @note_items, :outer_window => 2, :inner_window => 1
- else
    h3 Notes (0)
    = render 'shared/search_note_form'
    p Notes not found