 = form_tag request.referrer, :method => 'get', class: "form-search", id: "notes_search" do
        div class="input-group search_fields"
            = hidden_field_tag :direction, params[:direction]
            = hidden_field_tag :sort, params[:sort]
            = text_field_tag :search, params[:search], class: "form-control"
            div class="input-group-btn"
                = submit_tag "Search", :name => nil, class: "btn btn-primary"