| $('#notes').append('
= j render(@note_items);
| ')
//| $("#notes").html("
//= escape_javascript(render(:partial => @note_items))
//|"); 
//| $('#notes').html('
//=raw @note_items.to_json
//|');

//$("#notes").html(<%= j render(@note_items) %>);