footer.footer
  small
    a<> href='https://bitbucket.org/Michael_Trofimov/usernotes/' The User Notes
    a<> href='https://www.linkedin.com/in/mikhail-trofimov-5621488b' by Michael Trofimov
  nav
    ul
      li = link_to "About",   about_path
      li = link_to "Contact", contact_path