header class="navbar navbar-fixed-top navbar-inverse"
  div.container
        = link_to "user notes", root_path, id: "logo"
        nav
          ul class="nav navbar-nav navbar-right"
            li = link_to "Home",    root_path
            li = link_to "Help",    help_path
            - if logged_in?
              li = link_to "Users", users_path
              li class="dropdown"
                a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                  |Account
                  b class="caret"
                ul class="dropdown-menu"
                  li = link_to "Profile", current_user
                  li = link_to "Settings", edit_user_path(current_user)
                  li class="divider"
                  li = link_to "Log out", logout_path, method: :delete
            - else
              li = link_to "Log in", login_path